@media screen and (max-width:576px) {
    .nav-hamburger{
        display: block;
    }
    .nav-content{
        display: none;
    }
    .nav-main {
        justify-content: space-between;
        align-items: center;
        padding: 20px 0;
    }
    .nav-body{
        display: flex;
        flex-direction: column;
    }
    .nav-card-1{
        position: absolute;
        margin-left: 0px;
        top: 760px;
    }
    .nav-card-2{
        text-align: left;
        margin-left: 200px;
        top: 540px;
    }
    .nav-btn button{
        padding: 15px;
        border-radius: 28px;
        margin-right: 8px;
        margin-left: 5px;
        font-size: 16px;
        text-align: center;
        padding: 16px 20px;
    }
    .nav-body-text br{
        display: none;
    }
    .change-habits-contents{
        width: 80%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding: 2rem;
        margin-left: 2rem;
        gap: 3rem;
    }
    .habit-text>p>br{
        display: none;
    }
  
    .run-extra-body{
        width: 370px;
        height: auto;
        margin-top: 4rem;
        position: static;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        padding: 5px 10px;
    }
    
    .run-body-text h1{
        font-size: 2.2rem;
        margin-top: 18px;
    }
    .run-body-text>p br{
        display: none;
    }
    .run-body-text button{
        padding: 10px 10px;
        border-radius: 28px;
        margin-right: 0px;
        margin-left: 0px;
    }
    .run-extra-btn{
        border-radius: 30px;
        font-size: 1rem;
        padding: 13px 100px;
    }
    .run-extra-body div img{
        width: 960px;
        height: 680px;
        padding: 20px 20px;
        object-position: -370px -40px;
        zoom: 30%;
        border-radius: 50px;
        margin-top: 30px;
    }
    .bmi-text{
        margin-left: 18px;
        margin-bottom: 20px;
        padding: 10px;
    }

    .data-calc{
        margin: 0 auto;
        flex-direction: column;
        justify-content:space-between;
        padding: 20px 26px;
    }
     .calculate-bmi{
        margin-top: 30px;
    }

    .calc-grid> input, select{
        width: 100%;
        margin-top: 8px;
        gap: 2px;
    }
     .calculate-bmi>#activity{
        width: 100%;
        margin-top: 7px;
    }

    .our-team-contents{
        width: 100%;
        margin-left: 0px;
        margin-bottom: 30px;
        position: relative;
    }

    .our-team-img{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    .our-team-img img{
        width: 100%;
        height: 95%;
        padding: 5px;
    }

    .trainer-1, .trainer-2, .trainer-3, .trainer-4, .trainer-5, .trainer-6{
        position: static;
    }
    .bottom-left {
        position: relative;
        bottom: 118px;
    }

}
