@media screen and (max-width:576px) {
    .nav-hamburger{
        display: block;
    }
    .nav-content{
        display: none;
    }
    .nav-main {
        justify-content: space-between;
        align-items: center;
        padding: 20px 0;
    }
    .nav-body{
        display: flex;
        flex-direction: column;
    }
    .nav-card-1{
        position: absolute;
        margin-left: 0px;
        top: 760px;
    }
    .nav-card-2{
        text-align: left;
        margin-left: 200px;
        top: 540px;
    }
    .nav-btn button{
        padding: 15px;
        border-radius: 28px;
        margin-right: 8px;
        margin-left: 5px;
        font-size: 16px;
        text-align: center;
        padding: 20px 20px;
    }
    .nav-body-text br{
        display: none;
    }
    .change-habits-contents{
        width: 80%;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding: 2rem;
        margin-left: 2rem;
        gap: 3rem;
    }
    .habit-text>p>br{
        display: none;
    }
  
    .run-extra-body{
        width: 370px;
        height: auto;
        margin-top: 4rem;
        position: static;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        padding: 5px 10px;
    }
    
    .run-body-text h1{
        font-size: 2.2rem;
    }
    .run-body-text>p br{
        display: none;
    }
    .run-extra-btn{
        border-radius: 30px;
        font-size: 1rem;
        padding: 10px 30px;
    }
    .run-extra-body div img{
        width: 340px;
        height: 500px;
        padding: 20px 20px;
    }


}
