* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common styles */
.display-flex{
    display: flex;
}

.button-color{
    background-color: coral;
    border-radius: 20px;
}

.company-name-color{
    color: rgb(255, 75, 20);
}

/* nav starts here */
.welcome-container{
    background-color: rgba(0, 0, 0, 0.856);
    margin: 0 auto;
}
.nav-main {
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    padding: 50px;
}

h1 {
    font-size: 2.4rem;    
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    font-weight: bolder;
}

.nav-content {
    display: flex;
    border: 1px solid rgba(114, 114, 113, 0.438);
    border-radius: 25px;
    padding: 3px;
    
}

button {
    border: none;
    padding: 15px;
    border-radius: 15px;
    margin-right: 15px;
    margin-left: 15px;
    font-size: 18px;
    text-decoration: none;
    background-color: transparent;
    color: white;
    text-align: center;
}

.nav-body-container{
    background-color: black;
    color: white;
    
}
.nav-body{
    width: 80%;
    margin: 0 auto;
    justify-content: space-around;
    
}
.nav-body-text{
    margin-top: 40px;
}

.nav-body-text>h1{
    font-size: 3.1rem;
}
.nav-body-text>p{
    font-size: 0.95rem;
    color: rgba(255, 255, 255, 0.534);
    margin-top: 15px;
    margin-bottom: 20px;
}

.nav-body-text #shape-italic{
    /* font-style: italic; */
    font-stretch:ultra-expanded;
    font-weight: 10;
}
.btn-sec{
    border-radius: 28px;
    font-size: 0.9rem;
    padding: 10px 50px;
    margin: 0;
    margin-right: 10px;
}
.btn-border{
    border: 1px solid rgba(255, 255, 255, 0.479);
}
.circle-icon{
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background-color: rgb(255, 75, 20);
    margin-right: 8px; 
    margin-top: 7px;
}
.nav-card-1{
    border: 1px solid rgba(255, 255, 255, 0.103);
    background-color: rgba(48, 48, 48, 0.54);
    height: 70px;
    width: 170px;
    border-radius: 10px;
    position: absolute;
    align-items: center;
    justify-content: center;
    margin-left: -90px;
    top: 610px;
    backdrop-filter: blur(12px);
}
.nav-body-image{
    position: relative;
}
.card-font{
    font-size: 12px;
    margin-top: 5px;
    color: rgba(255, 255, 255, 0.596);
}
.nav-card-2{
    border: 1px solid rgba(255, 255, 255, 0.103);
    background-color: rgba(48, 48, 48, 0.54);
    height: 100px;
    width: 160px;
    border-radius: 10px;
    position: absolute;
    text-align: left;
    margin-left: 230px;
    top: 300px;
    padding: 15px;
    backdrop-filter: blur(12px);
    font-size: 1.5rem;
    font-weight: bolder;
}
