@import url('https://fonts.cdnfonts.com/css/miama');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common styles */
.display-flex{
    display: flex;
}

.button-color{
    background-color: coral;
    border-radius: 20px;
    padding: 10px;
}

.company-name-color{
    color: rgb(255, 75, 20);
}

/* nav starts here */
.welcome-container{
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.897),rgb(20, 20, 20) 100%);
    margin: 0 auto;
}
.nav-main {
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    padding: 50px;
}

h1 {
    font-size: 2.4rem;    
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    font-weight: bolder;
}

.nav-content {
    display: flex;
    border: 1px solid rgba(114, 114, 113, 0.438);
    border-radius: 25px;
    padding: 3px;
    
}

button {
    border: none;
    padding: 15px;
    border-radius: 15px;
    margin-right: 15px;
    margin-left: 15px;
    font-size: 18px;
    text-decoration: none;
    background-color: transparent;
    color: white;
    text-align: center;
}

.nav-body-container{
    /* background-color: black; */
    color: white;
    
}
.nav-body{
    width: 80%;
    margin: 0 auto;
    justify-content: space-around;
    
}
.nav-body-text{
    margin-top: 40px;
}

.nav-body-text>h1{
    font-size: 3.3rem;
    line-height: 1.2;
}
.nav-body-text>p{
    font-size: 0.95rem;
    color: rgba(255, 255, 255, 0.534);
    margin-top: 15px;
    margin-bottom: 20px;
}

.btn-sec{
    border-radius: 28px;
    font-size: 0.9rem;
    padding: 10px 60px;
    margin: 0;
    margin-right: 26px;
}
.btn-border{
    border: 1px solid rgba(255, 255, 255, 0.479);
}

.circle-icon{
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background-color: rgb(255, 75, 20);
    margin-right: 8px; 
    margin-top: 7px;
}

.nav-card-1{
    border: 1px solid rgba(255, 255, 255, 0.103);
    background-color: rgba(48, 48, 48, 0.54);
    height: 75px;
    width: 162px;
    border-radius: 10px;
    position: absolute;
    align-items: center;
    justify-content: center;
    margin-left: -90px;
    top: 610px;
    backdrop-filter: blur(12px);
    letter-spacing: 1px;
}

.nav-body-image{
    position: relative;
}
.card-font{
    font-size: 12px;
    margin-top: 5px;
    color: rgba(255, 255, 255, 0.596);
}

.nav-card-2{
    border: 1px solid rgba(255, 255, 255, 0.103);
    background-color: rgba(48, 48, 48, 0.54);
    height: 90px;
    width: 166px;
    border-radius: 10px;
    position: absolute;
    text-align: left;
    margin-left: 230px;
    top: 300px;
    padding: 15px;
    backdrop-filter: blur(14px);
    font-size: 1.5rem;
    font-weight: bolder;
    letter-spacing: 1px;
}

.nav-hamburger{
    color: white;
    display: none;
}
.shape-font{
    font-family: 'Miama', sans-serif;  
    font-size: 3.3rem;                                     
    font-weight:normal;
    letter-spacing: 0px;
}
/* change your habits starts here */
.change-habits{
    background-color: black;
    margin: 0 auto;
    padding: 3.5rem;
}
.habit-text{
    margin-bottom: 1rem;
}
.habit-text h1{
    color: white;
    text-align: center;
}
.habit-text p{
    color: rgba(255, 255, 255, 0.418);
    text-align: center;
}
.change-habits-contents{
    width: 80%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    color: white;
    text-align: center;
    padding: 1rem;
    margin-left: 8rem;
    gap: 4.5rem;
}
.contents-para{
    color: rgba(255, 255, 255, 0.473);
    text-align: center;
    font-size: 0.85rem;
}
.habit-image img{
    border-radius: 50%;
    margin-bottom: 0.9rem;
}
.habit-image img{
    border: 3px solid rgba(255, 255, 255, 0.158);
    border-radius: 50%;
    margin-bottom: 0.8rem;
    width: 100%;
}
.change-habits-contents>div>h4{
    margin-bottom: 0.5rem;
}

/* run extra mile starts here */
.run-extra{
    background-color: black;
    margin: 0 auto;
    padding: 3.5rem;
    color: white;
}
.run-extra-body{
    /* border: 2px solid red; */
    background-color: rgba(48, 48, 48, 0.644);
    width: 80%;
    height: 22rem;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    margin-left: 7.5rem;
    /* overflow: hidden; */
    /* display:inline-flex; */
    border-radius: 15px;
    padding: 10px;
}
.run-extra-body div img{
    /* width: 350px;
    height: 300px;
    border-radius: 18px;
    /* transform:scale(3.5); */
    /* transform-origin: 0% 20%; */
    /* transform: translate(0px, 40px); */
    /* object-fit: cover;
    object-position: 100% 100%;
    padding: 10px;
    margin-bottom: 70px; */ 
    width: 380px;
    height: 300px;
    object-fit: none;
    object-position: -760px -200px;
    border-radius: 18px;
    padding: 10px;
    /* border: 2px solid red; */

}
.run-body-text{
    text-align: left;
    margin-left: 35px;
    /* margin-right: 150px; */
}
.run-body-text button{
    display: flex;
    margin-right: 150px;
    /* float: left; */
}

 .run-extra-para{
    color: rgba(255, 255, 255, 0.473);
 }