@import url('https://fonts.cdnfonts.com/css/miama');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

/* common styles */
.display-flex{
    display: flex;
}

button {
    border: none;
    padding: 10px;
    border-radius: 28px;
    margin-right: 15px;
    margin-left: 16px;
    font-size: 1.1rem;
    text-decoration: none;
    background-color: transparent;
    color: white;
    text-align: center;
}
.button-color{
    background-color: coral;
    border-radius: 25px;
}

.company-name-color{
    color: rgba(255, 75, 20, 0.952);
}

/* nav starts here */
.welcome-container{
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.897),rgb(20, 20, 20) 100%);
    margin: 0 auto;
}
.nav-main {
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    padding: 48px;
}

h1 {
    font-size: 2.8rem;    
    font-weight: bolder;
}

.nav-content {
    display: flex;
    border: 1px solid rgba(114, 114, 113, 0.438);
    border-radius: 28px;
    padding: 3px;
}

.nav-body-container{
    color: white;
}

.nav-body{
    width: 80%;
    margin: 0 auto;
    justify-content: space-around;
    
}
.nav-body-text{
    margin-top: 40px;
    line-height: 0.9;
}

.nav-body-text>h1{
    font-size: 3.5rem;
    /* line-height: 1.2; */
}
.nav-body-text>h1>.shape-font{
    font-family: 'Miama', sans-serif;  
    font-size: 6.6rem;                                     
    font-weight:lighter;
    letter-spacing: -2px;
}
.nav-body-text>p{
    font-size: 0.9rem;
    color: rgba(255, 255, 255, 0.534);
    margin-top: 26px;
    margin-bottom: 30px;
}

.nav-btn-sec{
    border-radius: 30px;
    font-size: 0.9rem;
    padding: 14px 50px;
    margin: 0;
    margin-right: 20px;
}
.btn-border{
    border: 1px solid rgba(255, 255, 255, 0.479);
}

.circle-icon{
    height: 35px;
    width: 35px;
    border-radius: 50%;
    background-color: rgb(255, 75, 20);
    margin-right: 8px; 
    margin-top: 7px;
}

.nav-card-1{
    border: 1px solid rgba(255, 255, 255, 0.103);
    background-color: rgba(48, 48, 48, 0.54);
    height: 75px;
    width: 162px;
    border-radius: 10px;
    position: absolute;
    align-items: center;
    justify-content: center;
    margin-left: -90px;
    top: 600px;
    backdrop-filter: blur(12px);
    letter-spacing: 1px;
}

.nav-body-image{
    position: relative;
}
.card-font{
    font-size: 12px;
    margin-top: 5px;
    color: rgba(255, 255, 255, 0.596);
}

.nav-card-2{
    border: 1px solid rgba(255, 255, 255, 0.103);
    background-color: rgba(48, 48, 48, 0.54);
    height: 90px;
    width: 170px;
    border-radius: 10px;
    position: absolute;
    text-align: left;
    margin-left: 230px;
    top: 300px;
    padding: 10px;
    backdrop-filter: blur(14px);
    font-size: 1.5rem;
    font-weight: bolder;
    letter-spacing: 1px;
}

.nav-hamburger{
    color: white;
    display: none;
}

/* change your habits starts here */
.change-habits{
    background-color: black;
    margin: 0 auto;
    padding: 1.5rem;
}
.habit-text{
    margin-bottom: 1rem;
}
.habit-text h1{
    color: white;
    text-align: center;
}
.habit-text p{
    color: rgba(255, 255, 255, 0.418);
    text-align: center;
}
.change-habits-contents{
    width: 80%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    color: white;
    text-align: center;
    padding: 1rem;
    margin-left: 8rem;
    gap: 4.5rem;
}
.contents-para{
    color: rgba(255, 255, 255, 0.473);
    text-align: center;
    font-size: 0.85rem;
}
.habit-image img{
    border-radius: 50%;
    margin-bottom: 0.9rem;
}
.habit-image img{
    border: 3px solid rgba(255, 255, 255, 0.158);
    border-radius: 50%;
    margin-bottom: 0.8rem;
    width: 100%;
}
.change-habits-contents>div>h4{
    margin-bottom: 0.5rem;
}

/* run extra mile starts here */
.run-extra-body{
    background-color: rgba(48, 48, 48, 0.644);
    color: white;
    width: 80%;
    height: auto;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    margin-left: 130px;
    margin-top: 4rem;
    border-radius: 15px;
    padding: 16px;
    position: static;
}
.run-extra-body div img{
    width: 360px;
    height: 300px;
    object-fit: none;
    object-position: -760px -200px;
    border-radius: 22px;
    padding: 10px;
}
.run-body-text{
    text-align: left;
    margin-left: 35px;
}
.run-body-text button{
    display: flex;
    margin-right: 150px;
}

 .run-extra-para{
    color: rgba(255, 255, 255, 0.473);
 }
 .run-extra-btn{
    border-radius: 30px;
    font-size: 1.1rem;
    padding: 16px 75px;
 }
 /* bmi calculator */
 
 .bmi-calc{
    background-color: black;
    color: white;
 }
 .bmi-text{
    margin-left: 330px;
    margin-bottom: 20px;
    padding: 40px;
 }

 .bmi-text p{
    color: rgba(255, 255, 255, 0.473);
    margin-top: 6px;
 }

 .data-calc{
    background-color: rgba(48, 48, 48, 0.644);
    margin: 0 auto;
    justify-content:space-between;
    padding: 40px 80px;
 }
 .bmi-chart>h2{
    word-spacing: 7px;
 }
 
 .bmi-chart table, th, td{
    border: 1px solid rgba(255, 255, 255, 0.267);
    border-collapse: collapse;
 }
 .bmi-chart th, td, tr{
    width: 40%;
    height: 40px;
    text-align: left;
    padding: 10px;

 }
 .bmi-chart table{
    width: 280px;
 }
 .bmi-chart table tr>td{
    font-size: 0.8rem;
    color: rgba(255, 255, 255, 0.336);
 }
 .calculate-bmi p{
    color: rgba(255, 255, 255, 0.473);
    font-size: 0.9rem;
 }
 .calc-grid> input, select{
    background-color: rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.342);
    width: 16rem;
    height: 2rem;
    border-radius: 5px;
    margin-top: 7px;
    border: none;
    padding-left: 15px;
 }
 .calc-grid{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 5px;
    margin-bottom: 5px;
 }
 .calculate-bmi>#activity{
    background-color: rgba(255, 255, 255, 0.1);
    color: rgba(255, 255, 255, 0.342);
    width: 33rem;
    height: 2.1rem;
    border-radius: 5px;
    margin-top: 7px;
    border: none;
    padding-left: 15px;
 }
 .calculate-bmi>button{
    border: none;
    padding: 14px 60px;
    border-radius: 28px;
    margin: 0 auto;
    margin-top: 30px;
    font-size: 1rem;
    text-decoration: none;
    background-color: transparent;
    text-align: center;
    background-color: coral;
    border-radius: 25px;
 }
 /* meet our team */

 .meet-our-team{
    background-color: black;
    margin: 0 auto;
    color: white;
    padding: 50px 20px;
 }
 .our-team-text{
    text-align: center;
    margin-bottom: 20px;
    padding-top: 60px;
    padding-bottom: 40px;
    
 }
 .our-team-text p{
    color: rgba(255, 255, 255, 0.473);
    font-size: 0.9rem;
    margin-top: 8px;
 }

 .our-team-contents{
    background-color: rgba(48, 48, 48, 0.644);
    color: white;
    width: 80%;
    height: auto;
    margin-left: 130px;
    margin-top: 1.2rem;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 50px;
    position: static;
}

.our-team-img{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.our-team-img img{
    width: 340px;
    height: 280px;
    border-radius: 20px;
    padding: 8px;
}

.trainer-1, .trainer-2, .trainer-3, .trainer-4, .trainer-5, .trainer-6{
    position: relative;
    color: white;
    text-align: left;
}
.bottom-left {
    position: absolute;
    bottom: 56px;
    left: 28px;
    font-size: 20px;
    font-weight: bold;
}

.trainer-text{
    font-size: 14px;
    color: rgba(255, 255, 255, 0.473);
}
/* footer */

.footer-sec{
    background-color: rgb(28, 28, 28);
    margin: 0 auto;
    padding: 40px 80px;
 }

 .footer-contents{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-content: space-evenly;
 }

 .footer-contents>div>p{
    font-size: 0.8rem;
    color: rgba(255, 255, 255, 0.301);
    margin-top: 10px;
 }